<ul class="media-list">
  <% branches.each do |branch| %>
    <li class="media">
      <div>
        <p>所有企業名：<%= link_to branch.company.name, company_path(branch.company) %></p>
      </div>
      <div>
        <p>所有営業所名：<%= branch.name %></p>
      </div>
      <div>
        <%= link_to '詳細', branch_path(branch), class: 'btn btn-primary' %>
      </div>
    </li>
  <% end %>
  <%= paginate branches %>
</ul>