<ul class="media-list">
  <% projects.each do |project| %>
    <li class="media">
      <div>
        <p>顧客企業名：<%= link_to project.customer.name, project_path(project.customer) %></p>
      </div>
      <div>
        <p>現場名：<%= project.name %></p>
      </div>
      <div>
        <p>状態：<%= project.status %></p>
      </div>
      <div>
        <%= link_to '詳細', project_path(project), class: 'btn btn-primary' %>
      </div>
    </li>
  <% end %>

</ul>